<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}Meu Projeto Django{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'lista_clientes' %}">Lista de Clientes</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a></li>
                <li><a href="{% url 'lista_produtos' %}">lista de produtos</a></li>
                <li><a href="{% url 'adicionar_carrinho' %}">Adicionar Carrinho</a></li>
                <li><a href="{% url 'listar_compras' %}">Listar Compras</a></li>
            
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Meu Projeto Django</p>
    </footer>
</body>
</html>
